@charset "utf-8";
/* CSS Document */
*{list-style-type: none; margin:0px; padding:0px; border:0px;}
body{ font-family:"微软雅黑"; }
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
body,button,input,select,textarea a{font:12px/1.5 "Microsoft Yahei",arial,"宋体",tahoma,sans-serif}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,iframe,button,textarea,p,blockquote,th,td,img{margin:0;padding:0}
fieldset,img,iframe,button,a{border:0;text-decoration:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
input,select,img{vertical-align:middle}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
textarea{outline:none;resize:none}
ol,ul{list-style:none}
del{text-decoration:line-through}
em{font-style:normal}
i{font-style:normal}
sup,sub{font-size:100%;vertical-align:baseline}
input[type=submit],input[type=button],[class^=btn-],button{cursor:pointer}
input::-moz-focus-inner{border:0;padding:0}

a { text-decoration:none; color:#333; }

 
 
.nav_right { line-height:200px; float:left;}
.nav_right li {float:left; font-size:14px; display:inline-block; width:90px; height:60px; text-align:center; }
.nav_right li a:hover { display:block; width:90px; height:120px; background-color:#51391F; color:#fff;}

#nav{ border:0px solid #ff0000; height:120px; width:830px; float:right;  }
/*设置二级导航样式*/   
.nav {
     line-height:215px; float:left; padding-left:40px;
}
.nav ul li { 
     float:left; font-size:14px; display:inline-block; width:90px; height:120px; text-align:center;
}
.nav ul li a {
     font-size:16px; margin:0px;width:90px; height:120px; display: block;
}

.nav ul li:hover{display:block; width:90px; height:120px; margin:0px; background-color:#51391F; color:#fff;}
.nav ul li a:hover{display:block; width:90px; height:120px; margin:0px; background-color:#51391F; color:#fff;}
.nav ul li:hover a{display:block; width:90px; height:120px; margin:0px; background-color:#51391F; color:#fff;}
/*设置一级导航样式*/
.nav ul li ul{
    display:none;
}
.nav ul li:hover ul{
    display:block;
    width:90px;
    position:absolute;
    top:120px;
    background-color:#51391F;z-index:40;
}
.nav ul li ul li{

    height:43px;
    line-height:43px;
    color:#fff;
	width:90px;
	
font-size: 12px;
z-index:40;

}
.nav ul li:hover ul li a{
    display:block;
    
    height:43px;
    line-height:43px;
    color:#fff;
	margin: 0px;
font-size: 12px;
  
	overflow:hidden;
	text-align:center;

}
.nav ul li:hover ul li:hover,.nav ul li:hover ul li a:hover{
   height:43px;
    line-height:43px;
	 background-color:#fff;
	 color:#000;
	 font-weight:300;
}
 
/*设置三级导航样式*/
.nav ul li:hover ul li ul { 
    display:none;
}
.nav ul li:hover ul li:hover ul{ 
    display:block; 
    width:300px; height:210px;
	position:fixed;
    top:130px; 
    left:509px;
    background-color:#f1f1f1;z-index:40;
}
.nav ul li:hover ul li:hover ul:hover{ background-color:#fff;}

#top{ border:0px solid #ff0000; height:120px; width:1100px; margin:auto; }
#logo{ border:0px solid #ff0000; float:left; margin-right:0;    margin-top: 15px; }
#sousuo{ border:0px solid #0CF; height:120px; width:225px; float:right;}
.sou-t{height:24px; float:right; margin-bottom:25px; padding-top:40px; font-size:14px;}
.sou-t img{ padding-bottom:5px;}
.s_btn{ width:55px; height:29px; text-align:center; background-color:#d2d2d2; margin-left:1px;color: #666;}
.s_txt{ border:1px solid #cccccc; line-height:26px;height: 26px; width:150px; text-align:center; color:#c3c3c3;}
.searcher{ float:right;}


#abzd{border:0px solid #ff0000; min-height:600px; width:100%;;  font-size:14px; color:#000000;  margin:auto; }

#abzd .joinus{border:0px solid #ff0000; min-height:600px; width:1100px;;  font-size:14px; color:#000000;  margin:auto; }
.joinus table td {
height: 42px;
line-height: 42px;
border-bottom: 1px solid #E3E3E1;
text-indent: 5px;}

.joinus table tr:hover, .joinus table tr.even {
background: #F5F5F5;
}
.joinus table tr.t-bg{ background-color:#e3e3e3; font-weight:700;}



#banner{ border:0px solid #ff0000; height:400px;  margin-top:10px; }
 #banner1{ border:0px solid #ff0000; height:200px;  margin-top:10px; }

 #ab{border:0px solid #ff0000; height:54px; width:1100px; margin:auto;   }
  #ab .abc{ float:right;}
#ab1{border:0px solid #ff0000; height:34px; width:142px; margin-top:20px; background-image:url(/images/ab1.jpg); font-size:14px; color:#FFFFFF; line-height:32px; text-align:center; float:left; margin-left:10px; }
#ab1 a{border:0px solid #ff0000; height:34px; width:142px;  background-image:url(../images/ab1.jpg); font-size:14px; color:#000; line-height:32px; text-align:center; float:left; margin-right:20px; }
#ab1 a.cur{height:34px; width:142px;color:#fff; background-image:url(../images/ab11.png);}
#ab1 a:hover,#ab1 a.cur:hover{ background-image:url(../images/ab11.png); color:#fff; }
 
	.row_01 .left{width:307px; background:url(../images/icon/icon_01.png) no-repeat 7px 0px; padding:65px 0px 0px 0px;}
	.row_01 .left ul{background:url(../images/icon/line_01.png) repeat-y 7px 0px; padding:10px 0px;}
	.row_01 .left ul li{height:30px; line-height:30px; padding:10px 0px; font-size:13px; color:#6b6b6b;}
	.row_01 .left ul li a{display:block; height:30px; line-height:30px; background:url(../images/icon/dot_01.png) no-repeat 0px center; padding:0px 30px; color:#6b6b6b;}
	.row_01 .left ul li.cur a,
	.row_01 .left ul li a:hover{background:url(../images/icon/dot_02.png) no-repeat 0px center; color:#26a0dd; text-decoration:none;}
	.row_01 .right{width:890px;}
	.row_01 .right .title{padding:10px 0px;}
	.row_01 .right .title h2{height:40px; line-height:40px; font-size:22px;}
	.row_01 .right .title span{color:#767676;}
	
	.row_01 .profile .body p{line-height:24px; color:#555; padding:10px 0px;}

/*3-项目领域*/

	.row_01 .area .bd ul li{width:250px; height:250px; float:left; margin-right:30px; *display:inline; border:1px solid #e5e5e5;}
	.row_01 .area .bd ul li.h1-a{width:250px; height:250px; float:left; margin-right:0px; *display:inline; border:1px solid #e5e5e5;}
	.row_01 .area .bd a{width:250px; height:130px;  position:relative;}
	.row_01 .area .bd a img{width:250px; height:130px;}
	.row_01 .area .bd a .desc{width:240px; height:90px; background:url(../images/background/bg_05.png) repeat; position:absolute; left:0px; top:-55px; padding:20px; display:none;}
	.row_01 .area .bd a .desc h3{height:30px; line-height:90px; font-size:16px; color:#fbfeff; text-align:center;}
	.row_01 .area .bd a .desc span{color:#fbfeff;}
	.row_01 .area .bd a:hover .desc{display:block;}
 
#h1{ border:0px solid #ff0000; width:1100px; margin:auto; height:280px;  }


#h1-1{ border:0px solid #ff0000; width:300px; height:280px; float:left; margin-right:100px;    }

#h1-2{ border:0px solid #ff0000; width:300px; height:180px; float:right;   }
 

#h1-1-1{ border:0px solid #ff0000; width:300px;  height:50px; background-image:url(../images/h1-bj.jpg);   }

#h1-1-2{ border:0px solid #ff0000; width:300px;  height:130px; background-image:url(../images/h11.jpg); }
.h1-t{ width:250px; margin:auto; height:100px; text-align:center}
.h1-t1{ width:250px; margin:auto; height:30px; line-height:30px; font-size:16px; font-weight:800; text-align:center;}
.h1-t span{ width:240px;  height:70px; line-height:70px; font-size:12px;  color:#333; text-align:center;}


/*  案例   */
#case{border:0px solid #ff0000; min-height:600px; width:1100px; margin:auto;   }

#zn{ border:0px solid #ff0000;min-height:550px; width:1200px;   margin:auto; margin-top:20px; }
#zn1{ border:0px solid #ff0000;min-height:200px; width:1100px;   margin:auto; margin-top:30px;background: url(../images/5_03.jpg) no-repeat center bottom;  }
#zn1 .thumb{width:210;height:135px;float:left;}
#zn1 .thumb img{width:210px;height:135px;}
#zn1 .desc{float:right;width:870px;height:135px;position:relative;}

#zn1 .desc1{ margin:auto;width:1000px;height:135px;position:relative;}
/*3-项目领域*/

	.row_02 .area .bd ul li{float: left;
list-style: none;
width: 250px;
height:284px;
border: 1px solid #aaa;
-webkit-transition: background 0.2s linear;
-moz-transition: background 0.2s linear;
-o-transition: background 0.2s linear;
transition: background 0.2s linear;
margin: 20px 30px 20px 0px;
text-align: center;
display: block;
position: relative;
padding: 0;}
	.row_02 .area .bd a{width:250px; height:200px; display:block; position:relative;}
	.row_02 .area .bd a img{width:250px; height:200px;}
	.row_02 .area .bd a .desc{width:210px; height:160px; background:url(../images/background/bg_05.png) repeat; position:absolute; left:0px; top:0px; padding:20px; display:none;opacity: 0.6;}
	.row_02 .area .bd a .desc h3{height:30px; line-height:90px; font-size:16px; color:#fbfeff; text-align:center;}
	.row_02 .area .bd a .desc span{color:#fbfeff;}
	.row_02 .area .bd a:hover .desc{display:block;}


.h12-t{ width:250px; margin:auto; height:85px;}
.h12-t1{ width:250px; margin:auto; height:40px; line-height:40px; font-size:16px; font-weight:800; text-align:center;}
.h12-t1 a{width:250px; margin:auto; height:40px; line-height:40px; font-size:16px; font-weight:800; text-align:center;}
.h12-t1 a:hover{ color:#FF0000;}
.h12-t span{ width:220px;  height:45px; line-height:40px; font-size:12px;  color:#333; text-align:center; overflow:hidden;}

/*  公司   */




#about1{border:0px solid #ff0000; height:54px;  border-bottom:2px solid #51391F; width:100%;}



#ab2{border:0px solid #ff0000; height:32px; width:200px; margin-top:20px;   font-size:12px; color:#363636; line-height:32px; float:left;   }


#abz{border:0px solid #ff0000; min-height:500px; width:1100px;  font-size:14px; color:#000000; line-height:32px; margin:auto; }
#abz1{ background-image:url(../images/liubg.jpg);  min-height:500px;width:1100px;  font-size:14px; color:#000000; line-height:32px; margin:auto; background: }
#abz12{ background-image:url(../images/liubg1.jpg);  min-height:500px;width:1100px;  font-size:14px; color:#000000; line-height:32px; margin:auto; background: }
#abz2{border:0px solid #ff0000; height:600px; width:1100px;  font-size:14px; color:#000000; line-height:32px; margin:auto; }
.summary table{ line-height:40px;}

.table_form td, .table_form th {
padding: 8px 0 8px 8px;
}
.table_form th {  width:100px;}


.zp_box { width:250px; height:210px; display:inline; float:left; cursor:pointer; border: 1px solid #aaa;
-webkit-transition: background 0.2s linear;
-moz-transition: background 0.2s linear;
-o-transition: background 0.2s linear;
transition: background 0.2s linear;
margin: 20px 30px 20px 0px;}
.zp_box img { width:250px; height:210px;}
.pop_tit { width:250px; height:40px; padding:10px 0px 5px 0px; background:url(../images/header_bg.jpg) no-repeat 0px 0px; display:none; padding-left:18px;}
.p_tit1 { line-height:38px; color:#ffffff; font-size:16px;}
.p_tit2 { line-height:15px; color:#fd8200; font-size:12px;}

.server {

width: 100%;
height: 80px;
margin: 0 auto;
}
.server .server_tit {
width: 1100px;
margin: 0 auto;
height: 80px;
clear: both;
font-weight: normal;
background: url(../images/server_tit.png) no-repeat center center;
}


#foot{border:0px solid #ff0000; height:28px; width:1100px; background-image:url(../images/ftbj.jpg); font-size:12px; color:#666666; line-height:28px; margin:auto; text-align:center; margin-top:10px; }
#foot1{border:0px solid #ff0000; height:28px; width:1100px; background-image:url(../images/ftbj.jpg); font-size:12px; color:#666666; line-height:28px; margin:auto; text-align:center; margin-top:10px; }
/*分页*/
.n_fy{ height:40px;padding-top:10px;font-size:12px; }
.n_fy a{font-size:12px}

#fenye{clear:both;height:35px;color:#999; text-align:center;}
#fenye a,#fenye span{padding:2px 5px;text-decoration:none; font-size:14px;margin-left:5px;height:26px; text-align:center; line-height:26px; color:#666; background:#eee}
#fenye .prev,#fenye .next{width:55px; text-align:center;}
#fenye span{  text-decoration:underline;color:#51391F; font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif; text-align:center;font-weight:bold; }
#fenye a:hover{color:#51391F; text-decoration:none;}

#banner{ height:378px; background:#E2E2E2; width:100%;}
/*幻灯片
------------------------*/
#frame{ width:100%; height:378px;position:relative; overflow:hidden; margin:0 auto;}
#frame #img img{ width:1100px; height:380px; }
.banner-1{ height:378px;width:1100px; margin:0 auto;}
#btn{ position:absolute; bottom:10px; width: 420px; padding-left: 680px; float:left;}
#img a{position:absolute;left:0px;top:0px; display:none;}
#btn span{display:block; float:left;cursor:pointer; margin-left:6px; width:128px; height:98px; position:relative; overflow:hidden;}
#btn span i{ position:absolute; left:0px; bottom:0px; display:none;}
#btn span a{ position:absolute; bottom:0px; left:0px; display:block; width:128px; height:30px; z-index:9}
#btn01{ background-image:url(../images/11.png);}
#btn02{ background-image:url(../images/btn02.gif);}
#btn03{ background-image:url(../images/btn03.gif);}
#btn01:hover{ background-image:url(../images/1.png);}
#btn02:hover{ background-image:url(../images/2.png);}
#btn03:hover{background-image:url(../images/3.png);}
#btn span.hov #btn01{background-image:url(../images/btn01.gif);}
#btn span.hov #btn02{background-image:url(../images/22.png);}
#btn span.hov #btn03{background-image:url(../images/33.png);}

.s-form{ background:url(/images/searchbg1.png) no-repeat; width:172px; height:24px; position:absolute; margin-top:95px; margin-left:50px;}
.s-form .s-input{ width:169px; padding-left:13px; height:23px; line-height:24px; border:none; background:none; position:absolute; top:1px; left:0px;  color:#c3c3c3; border:0px;}
.s-form .s-Btn{ height:23px; width:23px; position:absolute; top:1px; right:0px; background:none; cursor:pointer; border:none;}


/*#frame{width:1100px; overflow:hidden; margin:0 auto;}
#btn{ position:absolute; margin-top:250px; margin-right:25px; right:140px; z-index:999;}
#img a{position:absolute;left:0px;top:0px; display:none;}
#btn span{display:block; float:left; cursor:pointer; margin-left:6px; width:128px; height:98px; position:relative; overflow:hidden;}
#btn span i{ position:absolute; left:0px; bottom:0px; display:none;}
#btn span a{ position:absolute; bottom:0px; left:0px; display:block; width:128px; height:30px; z-index:9}
#btn01{ background-image:url(../images/11.png);}
#btn02{ background-image:url(../images/22.png);}
#btn03{ background-image:url(../images/33.png);}
#btn01:hover{ background-image:url(../images/1.png);}
#btn02:hover{ background-image:url(../images/2.png);}
#btn03:hover{background-image:url(../images/3.png);}*/